<p>
  <b>Id:</b>
  <%=h @alicuotaiva.id %>
</p>

<p>
  <b>Alicuota:</b>
  <%=h @alicuotaiva.aiva_alicuota %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @alicuotaiva.aiva_inicio %>
</p>

<p>
  <b>Final:</b>
  <%=h @alicuotaiva.aiva_final %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @alicuotaiva.aiva_usuario %>
</p>

<p>
  <b>Ultima mod:</b>
  <%=h @alicuotaiva.aiva_ultmod %>
</p>


<%= link_to 'Edit', edit_alicuotaiva_path(@alicuotaiva) %> |
<%= link_to 'Back', alicuotaivas_path %>
