<p>
  <b>Prov codigo:</b>
  <%=h @proveedor.prov_codigo %>
</p>

<p>
  <b>Prov nombre:</b>
  <%=h @proveedor.prov_nombre %>
</p>

<p>
  <b>Prov calle:</b>
  <%=h @proveedor.prov_calle %>
</p>

<p>
  <b>Prov puerta:</b>
  <%=h @proveedor.prov_puerta %>
</p>

<p>
  <b>Localidad:</b>
  <%=h @proveedor.localidad_id %>
</p>

<p>
  <b>Prov telefono:</b>
  <%=h @proveedor.prov_telefono %>
</p>

<p>
  <b>Situacionafip:</b>
  <%=h @proveedor.situacionafip_id %>
</p>

<p>
  <b>Tipodocumento:</b>
  <%=h @proveedor.tipodocumento_id %>
</p>

<p>
  <b>Prov cuit:</b>
  <%=h @proveedor.prov_cuit %>
</p>

<p>
  <b>Prov estado:</b>
  <%=h @proveedor.prov_estado %>
</p>

<p>
  <b>Prov ingbrutos:</b>
  <%=h @proveedor.prov_ingbrutos %>
</p>

<p>
  <b>Prov regimenretencion:</b>
  <%=h @proveedor.prov_regimenretencion %>
</p>

<p>
  <b>Prov saldo:</b>
  <%=h @proveedor.prov_saldo %>
</p>

<p>
  <b>Prov observaciones:</b>
  <%=h @proveedor.prov_observaciones %>
</p>

<p>
  <b>Prov consignatario:</b>
  <%=h @proveedor.prov_consignatario %>
</p>

<p>
  <b>Prov baja:</b>
  <%=h @proveedor.prov_baja %>
</p>

<p>
  <b>Prov usuario:</b>
  <%=h @proveedor.prov_usuario %>
</p>

<p>
  <b>Prov ultmod:</b>
  <%=h @proveedor.prov_ultmod %>
</p>


<%= link_to 'Editar', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Volver', proveedors_path %>
